<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>QSE</title>
    <link rel="stylesheet" type="text/css" href="main.css">
  </head>
  <body>
    <webview id="content" src="<%= url %>"></webview>
  </body>

  <script>
    // You can also require other files to run in this process
    require('./renderer.js')
  </script>
</html>
